#main
{
    background-color: rgb(35, 37, 49);
}

#full_h1
{
    font-size: 25px;
    font-family: monospace;
    margin-left: 15px;
    color:rgb(248, 252, 255);
    margin-top: 10px;
}

#h1_2
{
    margin: 0;
    color:rgb(207, 93, 73);
}

#links
{
    margin-left: 60%;
    margin-top: -20px;
}

#a1
{
    font-family: monospace;
    font-size: 18px;
    margin-right: 10px;
    color:rgb(248, 252, 255);
    text-decoration: none;  
    padding-bottom: 10px;
    margin-right: 20px;
}

#a1:hover
{
    color:rgb(207, 93, 73);
    border-bottom: 3px solid rgb(207, 93, 73);
}

#a2
{
    margin-right: 10px;
    color:rgb(207, 93, 73);
    text-decoration: none;
    padding: 10px;
    border: 1px solid rgb(52, 55, 64);
}

#a2:hover
{
    color:rgb(248, 252, 255);
    border: 1px solid rgb(207, 93, 73);
}

#lower_1
{
    margin-left: 150px;
    margin-top: 120px;
}

#p1
{
    font-family: monospace;
    font-size: 25px;
    color:rgb(248, 252, 255);
}

#p2
{
    font-family: monospace;
    font-size: 90px;
    margin-top: 5px;
    color: rgb(255, 64, 60);
    margin-top: 20px;
}

#p3
{
    font-family: monospace;
    font-size: 90px;
    margin-top: 5px;
    color: rgb(255, 64, 60);
    margin-top: 10px;
}

#p4
{
    font-family: monospace;
    font-size: 25px;
    color:rgb(248, 252, 255);
    margin-top: 20px;
}

#btn1
{
    background-color: rgb(64, 64, 72);
    font-family: monospace; 
    height: 30px;
    text-align: center;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color:rgb(248, 252, 255);
    font-weight: bold;
}

#btn2
{
    font-family: monospace; 
    font-size: 50px;
    text-decoration: none;
    color:rgb(248, 252, 255);
}